.heroContacts__block {
	display: flex;
	justify-content: space-between;
}
.heroContacts__block-info {
	max-width: 550px;
}
.heroContacts__block-info-title {
	font-size: 36px;
	font-family: 'SoyuzGrotesk';
}
.heroContacts__block-info-text {
	margin: 5px 0px 10px 0px;
}
.heroContacts__block-info-socials {
	max-width: 190px;
	margin: 5px 0px 10px 0px;
}
.heroContacts__block-info-text:last-child {
	margin: 5px 0px 50px 0px;
}
